.services-hero{

height:70vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

background:linear-gradient(
135deg,
#131b2e,
#2563eb
);

color:white;

}

.hero-content{

max-width:900px;

}

.hero-content span{

color:#ff6b6b;

font-weight:600;

letter-spacing:2px;

}

.hero-content h1{

font-size:58px;

margin:25px 0;

}

.hero-content p{

font-size:20px;

line-height:1.8;

margin-bottom:40px;

}

.intro{

padding:100px 12%;

text-align:center;

}

.intro h2{

font-size:40px;

margin-bottom:20px;

}

.intro p{

font-size:19px;

color:#666;

line-height:1.8;

}

.services-grid{

padding:80px 10%;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

background:#f5f7fa;

}

.service-card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

transition:.35s;

}

.service-card:hover{

transform:translateY(-10px);

}

.emoji{

font-size:55px;

margin-bottom:20px;

}

.service-card h3{

margin-bottom:15px;

}

.service-card p{

line-height:1.7;

margin-bottom:20px;

color:#666;

}

.service-card a{

text-decoration:none;

font-weight:600;

color:#2563eb;

}

.benefits{

padding:100px 10%;

}

.benefits h2{

text-align:center;

margin-bottom:60px;

font-size:42px;

}

.benefits-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:40px;

}

.benefits-grid div{

background:white;

padding:35px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.faq{

padding:100px 10%;

background:#f5f7fa;

}

.faq h2{

text-align:center;

margin-bottom:50px;

font-size:40px;

}

.question{

background:white;

padding:30px;

border-radius:15px;

margin-bottom:25px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

}

.question h3{

margin-bottom:10px;

}

